.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0B0B0D;
  padding: 15px 40px;
  color: white;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 20;
}
.logo-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ff7a00; 
  text-transform: lowercase;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo-text:hover {
  color: #ffa94d; 
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.hire-btn {
  margin-left: auto;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: orange;
}

.hire-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hire-btn:hover {
  background-color: darkorange;
}
